@import 'tailwindcss';

:root {
  --background: #e5ebff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --card-text: #171717;
  --actions-color: #364153;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card-bg: #1a1a1a;
    --card-text: #ededed;
    --actions-color: #f3f4f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes toast-shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
